.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    &__label{
        display: flex;
        flex-direction: column;
    }

    &__button{
        margin-top: 5px;
    }
}